#pause,
#timeout,
.map_series_container .veto_container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pause,
#timeout {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  background-color: rgba(32, 35, 55, 0.6);
  width: 0;
  height: 160px;
  opacity: 0;
  font-size: 50px;
  transition: width 0.4s ease-in-out;
  color: #fff !important;
  font-weight: bold;
  text-shadow: -3px 7px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // font-family: "Roboto", sans-serif;
  padding: 0 30px;

  &.show {
    width: 550px;
    opacity: 1;

    transition: width 0.4s ease-in-out, box-shadow 0.4s 0.4s ease-in-out;
  }
}

#timeout.show.T {
  box-shadow: rgba(246, 70, 95, 0.6) 15px 15px 0 0;
}

#timeout.show.CT {
  box-shadow: rgba(57, 110, 199, 0.6) 15px 15px 0 0;
}

#pause.show {
  box-shadow: rgba(32, 35, 55, 0.6) 15px 15px 0 0;
}
