@import "fonts/montserrat.css";
@import "fonts/stratum2.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url('./assets/bg.png');/**/
}

@font-face {
  font-family: "Louis George Cafe";
  src: local("Louis George Cafe"),
    url("./fonts/Louis George Cafe.ttf") format("truetype");
}

@font-face {
  font-family: "Rounded_Elegance";
  src: local("Rounded_Elegance"),
    url("./fonts/Rounded_Elegance.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  width: 100%;
  height: 100%;
}

:root {
  --main-panel-color: rgba(32, 35, 55, 0.9);
  --sub-panel-color: rgba(32, 35, 55, 0.8);
  --white-dull: rgba(10, 5, 5, 0.25);
  --white-full: #fafafa;
  --white-half: hsla(0, 0%, 98%, 0.5);
  --color-gray: #bfbfbf;
  --color-moneys: #a7d32e;
  --dev-purple: #c800ff;
  --color-t: #c19511;
  --color-ct: #5788a8;
  --color-new-t: rgba(246, 70, 95, 0.8);
  --color-new-ct: rgba(57, 110, 199, 0.8);
  --color-bomb: rgba(242, 34, 34, 0.6);
  --color-defuse: #2222f2;
  --darkCT: #2e5069;
  --lightCT: #3787ba;
  --darkT: #6f5a25;
  --lightT: #c8a738;
  --mainCT: #00a0ff;
  --mainT: #ffa000;
  --main-panel-color-04: rgba(32, 35, 55, 0.4);
}
